{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">
    <h1>Records</h1>

    {% if records|length < 1 %}
    <h4>There are no records.</h4>
    {% else %}

    <table>
        <tr>
            <th>Record ID</th>
            <th>Username</th>
            <th>Alert Message</th>
            <th>Timestamp</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.record_id }}</td>
            <td>{{ record.username }}</td>
            <td>{{ record.alert_message }}</td>
            <td>{{ record.time_stamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h2>Registered Users (For Debugging Only)</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Hashed Password</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>

{% endblock %}
